{% extends 'admin.html.twig' %}

{% block title %} All Media{% endblock %}

{% block body %}
    <div class="col-md-12 ">
        <h1>All Media</h1>
        <small>List of all media files in posts images directory.</small>

        {% if my_pager|length > 0 %}
            <form action="/admin/deleteimages" method="post">
                <button type="submit" id="delsel" class="btn btn-warning pull-right">Delete selected</button>
        {% endif %}

        <br><br>
        <hr>

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% if my_pager|length > 0 %}
            <table class="table table-striped">
                <thead>
                    <th><input id="chkbox" type="checkbox"></th>
                    <th>Thumbnail</th>
                    <th>Name</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                {% for image in my_pager.currentPageResults %}
                <tr>
                    <td><input type="checkbox" class="checkbox" name="checkbox[]" value="{{ image.id }}"></td>
        </form>
                    <td><img width="50px" src="/img/posts/{{ image.imagePath }}"/></td>
                    <td>{{ image.imagePath }}</td>
                    <form action="/admin/deleteimage" method="post">
                        <td><button class="btn btn-danger" name="image_id" value="{{ image.id }}">Delete</button></td>
                    </form>
                </tr>
                </tbody>
                {% endfor %}
            </table>

            <div class="pagerfanta text-center">
                {{ pagerfanta(my_pager, 'twitter_bootstrap3', { 'omitFirstPage': true}) }}
            </div>
        {% else %}
            <h3>There are no images for display</h3>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {

            $('#chkbox').on('click', function() {
                if($('#chkbox').prop('checked') == true) {
                    $('.checkbox').prop('checked', true);
                } else {
                    $('.checkbox').prop('checked', false);
                }
            });

        });
    </script>
{% endblock %}