{% extends 'admin.html.twig' %}

{% block title %} All Users{% endblock %}

{% block body %}
    <div class="col-md-12 ">
        <h1>All Users</h1>
        <small>List of all users and administrators.</small>
        <a href="/admin/newuser" class="btn btn-success pull-right">Add New User</a>
        <br><br>
        <hr>
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% if my_pager|length > 0 %}
            <table class="table table-striped">
                <thead>
                    <th>#</th>
                    <th>Email</th>
                    <th>Is Admin</th>
                    <th>Action</th>
                </thead>
                <tbody>
                {% for user in my_pager.currentPageResults %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    {% if user.roles.0 == 'ROLE_ADMIN' %}
                        <td>Yes</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                    <form action="/admin/edituser" method="post">
                        <td><button class="btn btn-warning" name="user_id" value="{{ user.id }}">Edit</button></td>
                    </form>
                </tr>
                </tbody>
                {% endfor %}
            </table>

            <div class="pagerfanta text-center">
                {{ pagerfanta(my_pager, 'twitter_bootstrap3', { 'omitFirstPage': true}) }}
            </div>
        {% else %}
            <h3>There are no users for display</h3>
        {% endif %}
    </div>
{% endblock %}