{% extends 'admin.html.twig' %}

{% block title %} Edit User{% endblock %}

{% block body %}
    <style>
    </style>

    <div class="col-md-12 ">
        <h1>Edit User</h1>
        <hr>
        <a href="/admin/allusers" class="btn btn-warning">Cancel</a>
        <form action="/admin/deleteuser" method="post">
            <button style="margin-top:-32px" type="submit" class="btn btn-danger pull-right" name="user_id" value="{{ user_id }}">Delete</button>
        </form>

        <br><br>

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}