{% extends 'admin.html.twig' %}

{% block title %} Dashboard{% endblock %}

{% block body %}
    <style>
    </style>

    <div class="col-md-12 ">
        <h1>Welcome</h1>
        <small>Info page for current administrator.</small>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <img class="" height=250px" src="{{ asset('img/user.jpg') }}" />
            </div>
            <div class="col-md-8">
                <h3>{{ email }}</h3>
                <hr>
                <table class="table table-striped">
                    <tr>
                        <td>Email</td>
                        <td>{{ email }}</td>
                    </tr>
                    <tr>
                        <td>Is Admin</td>
                        <td>{{ is_admin }}</td>
                    </tr>
                    <tr>
                        <td>Posted articles</td>
                        <td>{{ nr_posts }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}