{% extends 'user.html.twig' %}

{% block title %} {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="col-md-12 ">
        <h1>All Posts</h1>
        <a href="/user/addnew" class="btn btn-success pull-right">Add New Post</a>
        <br><br>
        <hr>
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% if my_pager|length > 0 %}
            <table class="table table-striped">
                <thead>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Created At</th>
                    <th>Edited At</th>
                    <th>Action</th>
                </thead>
                <tbody>
                {% for post in my_pager.currentPageResults %}
                    <tr>
                        {% if post.image_path != '' %}
                            <td>
                                <img width="50px" src="/img/posts/{{ post.image_path }}"/>
                            </td>
                        {% else %}
                            <td>
                                <img width="50px" src="{{ asset('img/placeholder.png') }}"/>
                            </td>
                        {% endif %}
                        <td>{{ post.title }}</td>
                        <td>{{ post.content|length > 10 ? post.content|slice(0, 10) ~ '...' : post.content }}</td>
                        <td>{{ post.created_at|date('d/m/Y H:i') }}</td>
                        <td>{{ post.edited_at|date('d/m/Y H:i') }}</td>
                        <form action="/user/editpost" method="post">
                            <td><button class="btn btn-warning" name="post_id" value="{{ post.id }}">Edit</button></td>
                        </form>
                    </tr>
                </tbody>
                {% endfor %}
            </table>

            <div class="pagerfanta text-center">
                {{ pagerfanta(my_pager, 'twitter_bootstrap3', { 'omitFirstPage': true}) }}
            </div>
        {% else %}
            <h3>There are no posts for this user</h3>
        {% endif %}
    </div>
{% endblock %}